<br />

<div class="dash col-xs-10 col-xs-offset-1">
    <h1>My Dashboard</h1>
    <h4><%= current_user.email %></h4>
    <h4><%= current_user.id %></h4>
  <div>
    <div>
      <% if user_signed_in? %>
        <% if @my_games.present? %>
          <h2>My Games</h2>
          <% @my_games.each do |my_game| %>
            <%= link_to my_game.name, game_path(my_game) %>
            <br />
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <div>
    <div>
      <% if @open_games.present? %>
        <h2>Open games</h2>
        <%= @open_games.each do |open_game| %>
          <%= link_to open_game.name, game_path(open_game), :class => 'btn btn-success' %>
        <% end %>
      <% end %> 
    </div>
  </div>
</div>
