<DOCTYPE html>
<html>

<head>


</head>	

	<body>

		<h1>Welcome to Pawn Shop</h1>
		
		<table>
			<% 8.downto(1) do |column| %>
        <tr class="column <%= column %>">
          <% 1.upto(8) do |row| %>
            <td class="<%= row %> <%= column %>">
              <!--check to see if there is a piece-->
            	<% if piece = current_game.pieces.detect { |piece| piece.x_coordinate == row && piece.y_coordinate == column } %>           

                <div class="piece" id="piece-<%= piece.id %>">
                  <%= link_to image_tag ("#{piece.color}#{piece.type.downcase}.png") %>
                </div> 
                
                <% else %>
                <%= "#{row}, #{column}" %>
                <%= link_to "move here", game_path(current_game, current_piece.update_coordinates!(row,column)), :method => :put %>
                
              <% end %>
                
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

	</body>


</html>	
	