<DOCTYPE html>
<html>

<head>


</head>

	<body>

		<h1>Welcome to Pawn Shop</h1>

		<table>
			<% 8.downto(1) do |column| %>
        <tr class="column <%= column %>">
          <% 1.upto(8) do |row| %>
            <td class="square" id="<%= row %> <%= column %>">
              <!--check to see if there is a piece-->
            	<% if piece = @game.pieces.detect { |piece| piece.x_coordinate == row && piece.y_coordinate == column } %>

                <div class="piece" id="piece-<%= piece.id %>">
                  <%= image_tag ("#{piece.color}#{piece.type.downcase}.png") %>
                </div>

              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

		<script>
			$(function() {
				$('.piece').draggable({ snap: '.square' });
				$('.square').droppable({
				  drop: function( event, ui ) {
						var item_id = $('.piece').attr('id');
						var location = $(this).attr('id');
						$( this )
	            alert(item_id + ' ' + location);
						$.ajax({
							type: 'PUT',
							url: ui.item.data('update-url'),
							dataType: 'json',
							data: { item_id: {piece_params: location} }
							})
					}
				});
			});

		</script>

	</body>


</html>
